@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.pink-grad-text {
  background: var(
    --Group-Linear,
    linear-gradient(90deg, #800080 3.92%, #b466c1 52.78%, #800080 92.42%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pink-grad-text {
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 123.5%; /* 19.76px */
}
.text-pink {
  color: #902190;
}
.fw-700 {
  font-weight: 700;
}
@media (width<1024px) {
}
@media (width<780px) {
}
@media (width<580px) {
}
@media (width<400px) {
}
